@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #E5E5E5;
}

.landing-page {
    max-width: 1920px;
    background: #FFFFFF;
}

 header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 3% 4% 2% 4%;
}
 
.navigation-menu-left p {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    color: #0E204E;
    font-size: 32px;
}

.navigation-menu-center {
    display: flex;
    justify-content: space-between;
    gap: 100px;  
}

.navigation-menu-center a {
    text-decoration: none;
    color:#232323;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}

.navigation-menu-center a:hover {
    text-decoration: underline;
} 

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0E204E;
    width: 188px;
    height: 50px;
    color: #FFFFFF;
    font-family: Manrope, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    color: #0E204E;
    background: #FFFFFF;
    border: 3px solid #0E204E;
}

.intro {
display: flex;
align-items: center;
justify-content: flex-end;
position: relative;
padding-bottom: 12%;
}

.intro-photo, .about-photo, .choose-photo, .offers-photo{
max-width: 100%;
}

.intro-tiitle {
    width: 786px;
    height: 496px;
    background: #0E204E;
    position: absolute;
    left: 4%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 5%;

}

.h1-intro {
font-family: Playfair Display;
font-size: 64px;
font-weight: 700;
color: #FFFFFF;
padding-bottom: 2%;
}

.h5-intro {
font-family: Manrope;
font-size: 20px;
color: #FFFFFF;
padding-right: 10%;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12%;
}

.about-subtitle {
    width: 433px;
    height: 620px;
    background: #0E204E;
    font-family: 'Manrope';
    font-size: 20px;        
    color: #FFFFFF;
    text-align: left;
    line-height: 160%;
}

.h5-about {
    padding: 30% 13% 0 15%;
}
.about-title {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 700;
    color: #0E204E;
    padding-right: 100px;
}

.about-photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.chevrons {
    position: absolute;
}

.choose {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 12%;
    background-image: url("assets/img/rectangle_bottom2.png");
    background-repeat: no-repeat;
}

.choose-subtitle {
    width: 477px;
    height: 634px;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Manrope';
    font-size: 20px; 
    text-align: left;
    line-height: 160%;  
}

.choose-title {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 700;
    color: #FFFFFF;
    padding-right: 100px;
}

.choose-photo {
    padding-top: 7%;
}

.h5-choose {
    padding: 30% 15% 0 22%;
}

.h2-offers {
    text-align: center;
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 700;
    color: #0E204E;
    padding-bottom: 7%;
}

.row {
    display: flex;
    justify-content: space-between;
    padding-left: 9%;
    padding-right: 9%;
}

.offers-icons {
    display: flex;
    align-items: center;
    gap: 120px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-title {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    color: #263238;
}

.offers-rectangle-one {
    width: 412px;
    height: 358px;
    background: #0E204E;
    position: absolute;
    right: -205px;
    top: 112px;
    z-index: -1;
}

.offers-photo {
    position: relative;
    z-index: 0;
}

.offers-rectangle-two {
    width: 412px;
    height: 358px;
    background: #0E204E;
    position: absolute;
    left: -205px;
    top: 112px;
    z-index: -1;
}

.offers {
    padding-bottom: 12%;
}
.gallery-title {
    text-align: center;
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 700;
    color: #0E204E;
    padding-bottom: 2%;
}

.gallery-subtitle {
    text-align: center;
    font-family: 'Manrope';
    font-size: 20px;
    color: #263238;
    padding-bottom: 2%;
}

.gallery-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.features, .agent {
    padding: 12% 15% 5% 15%;
    display: flex;
    justify-content: space-between;
}

.features-rectangle {
    width: 400px;
    height: 445px;
    background: #0E204E;
    position: absolute;
    top: 140px;
    left: 284px;
    z-index: -1;
}

.features-photo {
    position: relative;
    z-index: 0;
}

.features-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.features-title {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 700;
    color: #0E204E;
    padding-bottom: 3%;
}

.features-subtitle {
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 19px;
    color: #030033;   
}

.list {
    display: flex;
    justify-content: space-between;
    padding: 3% 3%;
}

.list:nth-child(odd) {
    background: rgba(14, 63, 51, 0.2);
}

.list:nth-child(even) {
    padding: 5% 3%;
}

.agent-rectangle {
    width: 400px;
    height: 445px;
    background: #0E204E;
    position: absolute;
    top: 140px;
    right: 352px;
    z-index: -1;
}

.agent-photo {
    position: relative;
    z-index: 0;
}

.agent-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 30%;
    padding-top: 12%;
}

.agent-title {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 700;
    color: #0E204E;
    padding-bottom: 5%;
}

.agent-subtitle {
    font-family: 'Manrope';
    font-size: 20px;
    line-height: 150%;
    color: #263238;
    padding-bottom: 10%;
}

.agent-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0E204E;
    width: 239px;
    height: 62px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.agent-button:hover {
    color: #0E204E;
    background: #FFFFFF;
    border: 3px solid #0E204E;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6%;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#name, #phone, #email, #message {
    border: 1px solid #2D2B2B;
    width: 909px;
    height: 65px;
    margin: 2%;
    padding-left: 3%;
}

#message {
    padding-bottom: 24%;
}
.form-title {
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 700;
    color: #0E204E;
    padding-bottom: 1%;
}

.form-subtitle {
    font-family: 'Manrope';
    font-size: 20px;
    color: #000000;
    padding-bottom: 2%;
}

.button {
    background: #0E204E;
    width: 141px;
    height: 48px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("assets/img/rectangle_bottom.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.title-footer {
    text-align: left;
    display: flex;
    flex-direction: column;
}
.h3 {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
    }

.h5 {
     font-family: 'Manrope';
    font-size: 20px;
    color: #FFFFFF;
}

